.gallows {
  background-image: url("../public/gallows.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.man {
  display: flex;
}

.man__head {
  position: absolute;
  border: #888888 solid 5px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  top: 25%;
  left: 57%;
}

.man__hand {
  position: absolute;
  border: #888888 solid 2px;
  height: 5rem;
  background: #888888;
  width: 1px;
  transform: rotate(45deg);
  top: 40%;
  left: 80%;
}

.man__hand_right {
  transform: rotate(-45deg);
  left: 60%;
}

.man__body {
  position: absolute;
  border: #888888 solid 2px;
  height: 9rem;
  background: #888888;
  width: 1px;
  top: 45%;
  left: 70%;
}

.man__leg {
  position: absolute;
  border: #888888 solid 2px;
  height: 5rem;
  background: #888888;
  width: 1px;
  transform: rotate(30deg);
  top: 80%;
  left: 63%;

}

.man__leg_right {
  transform: rotate(-30deg);
  left: 77%;
}
